body {
	padding: 0;
	margin: 0;
	font-family: 'Open Sans', sans-serif;
	color: #999;
	text-align: center;
}

#bg {
}

svg {
	overflow: visible;
	max-width: 90%;
}

#bg_3 {
	overflow: hidden;
}

.tick line {
	stroke: #dcdcdc;
}

.tick text {
	fill: #999;
	font-size: 16px;
}

.domain {
	stroke: #999;
}

.logScale text {
	font-size: 10px;
	fill:#dcdcdc
}

.title {
	text-align: left;
	margin: 0 auto;
	margin-top: 10vh;
	margin-bottom: 2.5vh;
	max-width: 90%;
}

.title .top {
	display: flex;
	align-items: center;
}

.title .top .icon {
	width: 70px;
	height: 70px;
	background-color: rgba(237, 194, 42, 1);
	border-radius: 100px;
	background-image: url(../img/computer-virus.svg);
	background-size: 60%;
	background-position: center;
	background-repeat: no-repeat;
}

.title .top .txt {
	font-size: 1.5em;
	margin-left: 30px;
}

.leyenda {
	text-align: left;
	margin: 0 auto;
	margin-bottom: 2.5vh;
	max-width: 80%;
	display: flex;
}

.leyenda .item {
	display: flex;
	margin-right: 20px;
	align-items: center;
}

.leyenda .icon {
	width: 15px;
	height: 15px;
	background-color: rgba(237, 194, 42, 1);
	border-radius: 20px;
	margin-right: 5px;
}

.leyenda .txt {
	width: calc(100% - 20px);
}
.txt_bloque {
	text-align: left;
	margin: 0 auto;
	margin-bottom: 10vh;
	max-width: 90%;
}

.txt_bloque a {
	color: rgba(237, 194, 42, 1);
}

.txt_bloque a:hover {
	text-decoration: none;
}